.lesson {
  background-color: royalblue;
}

.title {
  color: darkblue;
}

#email {
  background-color: palevioletred;
}

#github {
  background-color: plum;
}

#portfolio {
  background-color: palegreen;
}
